@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body{
    background: url("../images/backgroundnih.png");
    background-size: 100%;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    text-align: center;
    color: #f6e5f5;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    border: 5pt solid #f6e5f5;
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
    top: 490px;
    left: 250px;
}


h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    text-align: center;
    color: #f6e5f5;
    margin: auto;
    border: 5pt solid #f6e5f5;
    position: absolute;
    right: 350px;
    top: 40px; 
}

@media (max-width: 768px) {
    h5 {
        border: 3pt solid #f6e5f5;
        position: absolute; 
        margin: auto; 
        left: 285px;
        right: 10px;
        top: 40px;
    }
 }


h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    text-align: center;
    color: #f6e5f5;
    margin: auto;
    border: 5pt solid #f6e5f5;
    position: absolute;
    right: 100px;
    top: 520px;
}

@media (max-width: 768px) {
    h3 {
        width: 70%;
        position: absolute; 
        margin: auto; 
        right: 90px;
        top: 1060px;
    }
 }

.foto {
    width: 100%;
    height: 477px;
    margin: auto;
    padding: 2%;
    border: 5pt solid #f6e5f5;
    size: 20%;
    position: relative;
    box-sizing: border-box;
}

img {
    margin: auto;
    width: 260px;
    height: auto;
    position: absolute;
    left: -250px;
    right: 500px;
    top: 0;
    bottom: 0;
}

@media (max-width: 768px) {
    .foto img {
       position: relative; 
       margin: auto; 
       left: 0;
       right: 0;
    }
 }


.konten {
    width: 50%;
    height: auto;
    margin: auto;
    padding: 2%;
    background-color: #be8abf;
    position: absolute;
    box-sizing: border-box;
    top: 126px;
    right: 150px;
    bottom: auto;
}

@media (max-width: 768px) {
    .konten {
       position: absolute; 
       margin: auto; 
       left: 285px;
       right: 10px;
    }
 }


.konten1 {
    width: 35%;
    margin: auto;
    padding: 2%;
    position: absolute;
    background-color: #be8abf;
    top: 610px;
    left: 688px;
}

@media (max-width: 768px) {
    .konten1 {
        width: 70%;
        position: absolute; 
        margin: auto; 
        left: 85px;
        top: 1230px;
    }
 }

.konten p {
    text-align: left;
    margin: 2%;
    font-family: 'Work Sans', sans-serif;
    font-size: 15pt;
    opacity: 100%;
    font-weight: bold;
}

.konten1 h2 {
    text-align: left;
    margin: 2%;
    font-family: 'Work Sans', sans-serif;
    font-size: 20pt;
    color: #deecff;
    opacity: 100%;
    font-weight: 900;
}

.konten1 ul {
    text-align: left;
    margin: 2%;
    font-family: 'Work Sans', sans-serif;
    font-size: 15pt;
    color: white;
    opacity: 100%;
    font-weight: bold;
}

.konten p, a {
    color: #deecff;
}

.bar {
    border: 3pt solid #f6e5f5;
}

.container {
    border: 2pt solid whitesmoke;
    background-color: whitesmoke;
}

.konten2 {
    width: 35%;
    height: auto;
    margin: auto;
    padding: 2%;
    background-color: #be8abf;
    position: absolute;
    box-sizing: border-box;
    right: 790px;
    top: 608px;
    bottom: auto;
}

@media (max-width: 768px) {
    .konten2 {
        width: 70%;
        position: absolute; 
        margin: auto; 
        right: 90px;
        top: 610px;
    }
 }

.konten2 h4 {
    text-align: left;
    margin: 2%;
    font-family: 'Work Sans', sans-serif;
    font-size: 20pt;
    color: #deecff;
    opacity: 100%;
    font-weight: 900;
}

