{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Finding Astrid</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/page1.css' %}">
     <link rel="icon" href="{% static "images/logo.png" %}">
</head>
<body>

<div class="container navi">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                <div class="navbar-nav">
                    <ul class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/">Profile</a>
                        <a class="nav-item nav-link" href="/experiences">Experiences</a>
                        <a class="nav-item nav-link" href="/skills">Skills</a>
                       <a1 class="nav-item nav-link active" href="/contact">Contact <span class="sr-only">(current)</span></a1>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

<div class="container skills">
            <h3>Want to Know More?!</h3>
            <h4 > Here, just click the logo!</h4>
                <div class="card-body">
                        <div class="container my-skills">
                            <div class="row">
                                <div class="col-3">
                                    <a href="https://www.linkedin.com/in/astriddianyalwardy/"target="_blank"><img src="{% static '/images/LinkedIN.png' %}" width="150" height="150"></a>
                                </div>
                                <div class="col-3">   
                                    <br></br>
                                    <p>linkedin.com/in/astriddiany<br></br>alwardy</p>
                                </div>
                                <br></br>
                                <br></br>
                                <div class="col-3">
                                    <a href="https://www.instagram.com/astriddiany/?hl=en"target="_blank"><img src="{% static '/images/IG.png' %}" width="150" height="150"></a>
                                </div>
                                <div class="col-3">
                                <br></br>
                                <p>@astriddiany</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                <br></br>
                                    <a href="mailto:astrid.diany@ui.ac.id"target="_blank"><img src="{% static '/images/mail.png' %}" width="150" height="150"></a>
                                </div>
                                <div class="col-3">
                                <br></br>
                                <br></br>
                                <p>astrid.diany@ui.ac.id</p>
                                </div>
                                <div class="col-3">
                                <br></br>
                                    <a href="http://line.me/ti/p/~qrep"target="_blank"><img src="{% static '/images/Line.png' %}" width="150" height="150"></a>
                                </div>
                                <div class="col-3">
                                <br></br>
                                <br></br>
                                <p>astrid</p>
                                </div>
                            </div>
                          </div>
            
                     </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        </body>
</html>


