{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Astrid's Experiences</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/page1.css' %}">
     <link rel="icon" href="{% static "images/logo.png" %}">
</head>
<body>

<div class="container navi">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <ul class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/">Profile</a>
                        <a1 class="nav-item nav-link active" href="/experiences">Experiences <span class="sr-only">(current)</span></a1>
                        <a class="nav-item nav-link" href="/skills">Skills</a>
                        <a class="nav-item nav-link" href="/contact">Contact</a>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

<div class="container experience">  
<h1 class="card-title2">Professional Experience</h1>
<h6 class="card-subtitle2">Product Design Intern in Pinhome (2020 - Present)</h6>
<li class="card-text2">Supporting UX research at Pinhome</li>
<li class="card-text2">Find suitable participant for the research</li>
<li class="card-text2">Maintain good relation with participant and other divisions</li>
<li class="card-text2">Always in touch with Product Design’s stakeholders</li>
<li class="card-text2">Learned how to conduct UX research</li>
<br></br>
<h1 class="card-title2">Volunteer and Organization Experience</h1>
<h6 class="card-subtitle2">Vice Project Officer of Open House Fasilkom UI (2020 - Present)</h6>
<li class="card-text2">	Open House Fasilkom UI is an annual event that promotes Fasilkom UI to high school students in Indonesia.</li>
<li class="card-text2">Led Fasilkom UI's first full online based open house.</li>
<li class="card-text2">Created job desks for each division.</li>
<h6 class="card-subtitle2">Public Relation Staff of BEM Fasilkom UI (2020 - Present)</h6>
<li class="card-text2">	Public Relation of BEM Fasilkom UI is the
bureau that represents the organization in the public eyes.</li>
<li class="card-text2">Promoted Fasilkom UI at UI Open Days 2020.</li>
<li class="card-text2">Created broadcast messages and publication captions for BEM Fasilkom UI's social media.</li>
<h6 class="card-subtitle2">Direct Marketing Staff of COMPFEST 12 (2020 - Present)</h6>
<li class="card-text2">COMPFEST is an annual one stop IT event run by students of Fasilkom UI. It delivers
technological breakthroughs with a series of Academies, Competitions, and Seminars.</li>
<li class="card-text2">Promoted COMPFEST and technological breakthroughs using podcasts.</li>
<li class="card-text2">Became the master of ceremony at Compfest’s Academies and Competition's Awarding Night.</li>
<h6 class="card-subtitle2">Syukuran dan Pelepasan Wisuda Fasilkom UI Liaison Officer Staff (2019 - 2020)</h6>
<li class="card-text2">Syukuran dan Pelepasan Wisuda Fasilkom UI is an annual event for celebrating Fasilkom UI’s graduate.</li>
<li class="card-text2">In charge of guiding the graduate's parents and families to their seats.</li>
<li class="card-text2">In charge of guiding the graduates to their seats.</li>
<li class="card-text2">Make sure the parents and graduates on their seats when the ceremony began.</li>
<li class="card-text2">Make sure there is no miscommunication with other divisions.</li>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>

     
     