{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Story Pertama Ku!!</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/index_lab1.css" %}">
        <link rel="icon" href="{% static "images/cactus.png" %}">
    </head>

    <body style= "background-image: url({% static "images/background.jpg" %})">
        <div class="foto">
                <img src="{% static "images/mukaku.jpg" %}" alt="fotoku">
        </div>

        <h5> BIODATA </h5>
        <div class="konten">
            <p>Nama: Astrid Diany Alwardy</p>
            <p>NPM: 1906292944</p>
            <p>Angkatan: 2019</p>
            <p>Tempat Kuliah: Fakultas Ilmu Kompter, UI</p>
            <p>Hobi: Jalan-jalan</p>
            <p>Tentang saya: Ngoding adalah jalan ninjaku</p>
            <p>Instagram: <a href="https://www.instagram.com/astriddiany/" target="_blank">astriddiany</a></p>
            </div>


        <h3>RIWAYAT PENDIDIKAN</h3>
        <div class="konten1">
            <h2>Sekolah Dasar</h2>
            <ul>
                <li>SDN Bekasi Jaya VIII (2007 - 2013)</li>
            </ul>
            <h2>Sekolah Menengah Pertama</h2>
            <ul>
                <li>SMPN 1 Bekasi (2013 - 2016)</li>
            </ul>
            <h2>Sekolah Menengah Atas</h2>
            <ul>
                <li>SMAN 1 Bekasi (2016 - 2019)</li>
            </ul>
            <h2>Perguruan Tinggi</h2>
            <ul>
                <li>Fakultas Ilmu Komputer, Universitas Indonesia (2019 - present )</li>
            </ul>
        </div>
    
    <h1>Skills</h1>
    <div class="konten2">
        <h4>Public Speaking</h4>
    <div class="bar">
        <div class="container" style="height:24px;width:90%"></div>
    </div><br>
        <h4>Copywriting</h4>
    <div class="bar">
        <div class="container" style="height:24px;width:80%"></div>
  </div><br>
        <h4>Java</h4>
    <div class="bar">
        <div class="container" style="height:24px;width:60%"></div>
    </div><br>
        <h4>Python</h4>
    <div class="bar">
        <div class="container" style="height:24px;width:70%"></div>
    </div>
    </div>

    </body>

</html>

