{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Astrid Who?!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/page1.css' %}">
    <link rel="icon" href="{% static "images/logo.png" %}">
</head>
<body>

    <div class="container navi">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <ul class="navbar-nav ml-auto">
                        <a1 class="nav-item nav-link active" href="">Profile <span class="sr-only">(current)</span></a1>
                        <a class="nav-item nav-link" href="/experiences">Experiences</a>
                        <a class="nav-item nav-link" href="/skills">Skills</a>
                        <a class="nav-item nav-link" href="#contact">Contact</a>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

<div class="container about-me">
    <div class="row">
      <div class="col">
            <h1 class="card-title">Hello!</h1>
            <h6 class="card-subtitle">I am Astrid Diany Alwardy,</h6>
            <p class="card-text">a sophomore at the University of Indonesia majoring in Computer Science. I am organized, detail and result oriented, 
                    keen to learn new things, and experienced
                    in working as a team. I enjoy establishing a positive
                    relation and cooperation. It helps me to
                    have new insights on things and it would
                    also broaden my social network.
                    improve my skills. My greatest passion in life
                    is using my abilities to benefit other people.</p>
        </div>
        <div class="col">
            <img class="fotoku" src="{% static 'images/foto.png' %}">
        </div>
    </div>
 </div>   
</div>

<div class="container experience">  
    <h1 class="card-title2">Professional Experience</h1>
        <h6 class="card-subtitle2">Product Design Intern in Pinhome (2020 - Present)</h6>
            <li class="card-text2">Supporting UX research at Pinhome</li>
            <li class="card-text2">Find suitable participant for the research</li>
            <li class="card-text2">Maintain good relation with participant and other divisions</li>
            <li class="card-text2">Always in touch with Product Design’s stakeholders</li>
            <li class="card-text2">Learned how to conduct UX research</li>
            <br></br>
    <h1 class="card-title2">Volunteer and Organization Experience</h1>
        <h6 class="card-subtitle2">Vice Project Officer of Open House Fasilkom UI (2020-Present)</h6>
            <li class="card-text2">	Open House Fasilkom UI is an annual event that promotes Fasilkom UI to high school students in Indonesia.</li>
            <li class="card-text2">Led Fasilkom UI's first full online based open house.</li>
            <li class="card-text2">Created job desks for each division.</li>
            <br></br>
        <a href="/experiences"class="button">Click Here for More Experiences</a>
</div>
</html>


            <div class="container skills">
                    <div class="row">
                    <div class="col">
                       <h3>Skills</h3>
                                    <div class="container body">
                                            <h6> Public Speaking </h6>
                                            <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 85%; background-color: rgba(255, 163, 97, 0.9);" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <h6>Copywriting</h6>
                                                  <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%; background-color: rgba(255, 163, 97, 0.9)" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <h6>Java</h6>
                                                  <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 65%; background-color: rgba(255, 163, 97, 0.9)" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <h6> Python</h6>
                                                  <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%; background-color: rgba(255, 163, 97, 0.9)" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                    <br></br>
                                        </div>
                                </div>
                    </div>
                    <div class="col">
                        <h3> Education</h3>
                                <div class="container body">
                                        <h6>Elementary School</h6>
                                        <li>SDN Bekasi Jaya VIII (2007 - 2013)</li>
                                        <h6><br>Junior High School</h6>
                                        <li>SMPN 1 Bekasi (2013 - 2016)</li>
                                        <h6><br>Senior High School</h6>
                                        <li>SMAN 1 Bekasi (2013 - 2016)</li>
                                        <h6><br>University</h6>
                                        <li>University of Indonesia (2019 - Present)</li>
                                        <br></br>
                                    </div>
                                
                            </div>

                    </div>
                    <section id="contact">
                    <div class="row">
                        <div class="col">
                                <h3> Find Me On:</h3>
                                        <div class="col-md-3 offset-md-5">
                                        <div class="row">
                                        <a href="https://www.linkedin.com/in/astriddianyalwardy/" target="_blank"><img src="{% static '/images/LinkedIN.png' %}" width="66" height="66"></a>
                                        <a href="https://www.instagram.com/astriddiany/?hl=en" target="_blank"><img src="{% static '/images/IG.png' %}" width="67" height="67"></a>
                                        <a href="mailto:astrid.diany@ui.ac.id" target="_blank"><img src="{% static '/images/mail.png' %}" width="66" height="66"></a>
                                        </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    </section>
                    
            </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
</body>
</html>


