{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Astrid's Skills</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/page1.css' %}">
     <link rel="icon" href="{% static "images/logo.png" %}">
</head>
<body>

<div class="container navi">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <ul class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/">Profile</a>
                        <a class="nav-item nav-link" href="/experiences">Experiences</a>
                        <a1 class="nav-item nav-link active" href="/skills">Skills <span class="sr-only">(current)</span></a1>
                        <a class="nav-item nav-link" href="/contact">Contact</a>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


<div class="container my-skills">
                    <div class="row">
                    <div class="col">
                       <h3>Skills</h3>
                                            <h6> Public Speaking </h6>
                                            <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 85%; background-color: rgba(255, 163, 97, 0.9);" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <h6>Copywriting</h6>
                                                  <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%; background-color: rgba(255, 163, 97, 0.9)" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <h6>Java</h6>
                                                  <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 65%; background-color: rgba(255, 163, 97, 0.9)" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <h6> Python</h6>
                                                  <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%; background-color: rgba(255, 163, 97, 0.9)" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                    <br></br>
                                            </div>
                                        
                                </div>
                    </div>
                    </div>
                </div>
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        </body>
</html>